## Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval, updating, and management of that data. Databases are widely used in various applications ranging from simple to complex systems, such as websites, mobile apps, enterprise systems, and more.

Differentiating SQL (Structured Query Language) and NoSQL databases:

SQL (Structured Query Language) Databases:

SQL databases are relational databases that use structured query language (SQL) for defining and manipulating data.
They have a predefined schema that defines the structure of the data, including tables, columns, and relationships.
SQL databases ensure data integrity through ACID (Atomicity, Consistency, Isolation, Durability) properties, providing strong consistency and transactional support.
Examples of SQL databases include MySQL, PostgreSQL, Oracle, Microsoft SQL Server, etc.
SQL databases are well-suited for applications requiring complex queries, transactions, and strict consistency requirements.
NoSQL (Not Only SQL) Databases:

NoSQL databases are non-relational databases designed for handling large volumes of unstructured or semi-structured data.
They do not require a fixed schema, allowing flexibility in storing different types of data.
NoSQL databases typically offer eventual consistency rather than strong consistency, making them suitable for distributed systems and scalability.
Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, etc.
NoSQL databases are commonly used in applications needing high availability, horizontal scalability, and real-time data processing.
In summary, SQL databases are relational, have a structured schema, provide strong consistency, and are suitable for applications with complex queries and transactions. On the other hand, NoSQL databases are non-relational, schema-less or flexible schema, offer eventual consistency, and are preferred for handling large-scale, distributed data with high availability and scalability requirements. The choice between SQL and NoSQL databases depends on specific project requirements, such as data structure, scalability needs, and performance characteristics.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of database objects such as tables, indexes, views, and schemas. DDL commands are essential for creating, altering, and dropping database objects, thereby controlling the organization and layout of data within a database.

Here's an explanation of common DDL commands with examples:

CREATE: The CREATE command is used to create new database objects such as tables, indexes, or views.

Example: Creating a new table named employees with columns for employee ID, name, and department:

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    department VARCHAR(50)
);
DROP: The DROP command is used to delete existing database objects such as tables, indexes, or views.

Example: Dropping the employees table:


DROP TABLE employees;
ALTER: The ALTER command is used to modify the structure of existing database objects, such as adding or dropping columns or constraints from a table.

Example: Adding a new column email to the employees table:

ALTER TABLE employees
ADD COLUMN email VARCHAR(100);
TRUNCATE: The TRUNCATE command is used to delete all rows from a table, but it retains the table structure.

Example: Truncating the employees table:

TRUNCATE TABLE employees;
Each of these DDL commands serves a specific purpose in managing the structure of the database. They allow database administrators and developers to create, modify, and remove database objects efficiently, ensuring the database's schema remains consistent with application requirements.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML commands are primarily used to insert, update, retrieve, and delete data within database tables. Here are explanations of common DML commands with examples:

INSERT: The INSERT command is used to add new records (rows) into a table.

Example: Inserting a new employee record into the employees table:

INSERT INTO employees (employee_id, employee_name, department)
VALUES (1, 'John Doe', 'Engineering');
This command will add a new record with the specified employee ID, name, and department into the employees table.

UPDATE: The UPDATE command is used to modify existing records in a table.

Example: Updating the department of an employee with a specific employee ID:

UPDATE employees
SET department = 'Marketing'
WHERE employee_id = 1;
This command will change the department of the employee with employee ID 1 to "Marketing" in the employees table.

DELETE: The DELETE command is used to remove one or more records from a table.

Example: Deleting an employee record from the employees table based on employee ID:

DELETE FROM employees
WHERE employee_id = 1;
This command will delete the record of the employee with employee ID 1 from the employees table.

DML commands are essential for managing the data stored in a database. They allow users to insert new data, update existing data, and delete unwanted data, enabling efficient data manipulation and maintenance within database tables.

## Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are primarily focused on querying or selecting data from one or more tables in a database. The most common DQL command is SELECT. Here's an explanation of the SELECT command with an example:

SELECT: The SELECT command is used to retrieve data from one or more tables in a database. It allows you to specify which columns to retrieve, as well as any filtering criteria or sorting instructions.

Example: Retrieving employee names and their corresponding departments from the employees table:

SELECT employee_name, department
FROM employees;
This command will retrieve the employee_name and department columns from the employees table, showing the names of employees along with their respective departments.

You can also use the SELECT command with various clauses to perform more complex queries, such as:

Filtering data using the WHERE clause:


SELECT *
FROM employees
WHERE department = 'Engineering';
This command will retrieve all columns (*) from the employees table where the department is 'Engineering'.

Sorting data using the ORDER BY clause:


SELECT employee_name, department
FROM employees
ORDER BY department ASC;
This command will retrieve employee names and departments from the employees table and order the results in ascending order based on the department.

Aggregating data using aggregate functions like COUNT, SUM, AVG, etc.:


SELECT department, COUNT(*)
FROM employees
GROUP BY department;
This command will count the number of employees in each department by grouping the results based on the department column.

SELECT queries are fundamental to retrieving data from databases and are widely used in various applications for reporting, analysis, and data manipulation purposes.

## Q5. Explain Primary Key and Foreign Key.

In [ ]:

Primary Key and Foreign Key are both fundamental concepts in relational database design, used to establish relationships between tables and enforce data integrity.

Primary Key:

A Primary Key is a column or a set of columns that uniquely identify each row (record) in a table.
It must contain unique values for each row, and it cannot contain NULL values.
There can be only one Primary Key constraint defined for a table.
Primary Keys are used to enforce entity integrity and ensure that each record in a table can be uniquely identified.
Typically, Primary Keys are implemented using a single column, but composite keys (using multiple columns) are also possible.
Example:


CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    department_id INT
);
In this example, employee_id is the Primary Key of the employees table.

Foreign Key:

A Foreign Key is a column or a set of columns in one table that refers to the Primary Key column(s) in another table.
It establishes a relationship between the tables based on the values of the Foreign Key column(s) and the Primary Key column(s).
Foreign Key constraints ensure referential integrity, meaning that values in the Foreign Key column(s) must exist as Primary Key values in the referenced table or be NULL.
Foreign Key constraints help maintain data consistency and enforce data relationships between tables.
Example:


CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50)
);

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);
In this example, department_id in the employees table is a Foreign Key that references the department_id Primary Key in the departments table. This establishes a relationship between the employees and departments tables based on the department that each employee belongs to.

In summary, Primary Keys uniquely identify rows in a table, while Foreign Keys establish relationships between tables by referencing the Primary Key of another table. Together, they ensure data integrity and enforce the rules governing relationships between entities in a relational database.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
To connect MySQL to Python, you can use the mysql-connector-python package, which provides a Python interface for MySQL. First, you need to install the package using pip:

bash

pip install mysql-connector-python
Then, you can use the following Python code to connect to MySQL and perform database operations:


import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = conn.cursor()

# Execute SQL queries
cursor.execute("SELECT * FROM your_table")
rows = cursor.fetchall()

# Print the fetched data
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()
Explanation of cursor() and execute() method:

cursor() method:

The cursor() method creates a cursor object, which is used to execute SQL queries and fetch data from the database.
A cursor allows you to navigate through the result set returned by a SQL query.
You can create multiple cursor objects from a single database connection.
execute() method:

The execute() method of the cursor object is used to execute SQL queries.
It takes a string containing the SQL query as its parameter.
After executing the query, the cursor will be positioned at the beginning of the result set, if any.
If the query modifies the database (e.g., INSERT, UPDATE, DELETE), it doesn't return any data. Otherwise, for SELECT queries, you need to use methods like fetchone(), fetchall(), or fetchmany() to retrieve the data.
In the provided code, the cursor object is created using cursor() method, and then SQL queries are executed using the execute() method. Finally, fetched data is printed, and the cursor and connection are closed to release resources.

## Q7. Give the order of execution of SQL clauses in an SQL query.